services:
  database:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: taxi_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: always
    networks:
      - back-end

  adminer:
    image: adminer:5.4.1
    ports:
      - "8080:8080"
    depends_on:
      - database
    restart: always
    networks:
      - front-end
      - back-end

  grafana:
    image: grafana/grafana:main
    user: "472"
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    restart: always
    networks:
      - front-end
      - back-end

volumes:
  db_data:
  grafana_data:

networks:
  front-end:
  back-end: